csv_files/*
nc_file/*
*/nc_files/*
nc_files/REMIT/*
api_files/*
json_files/*.json
*/__pycache__
/qr_model_wind
/qr_model_solar
auto_submitter.py
comp_utils.py
environments.yml
*.yml
Getting Started.ipynb
zeug.txt
*.nc
*.pyc
*.pyc
*.drawio
*.r
*.bkp
*.zip
api_exploration.ipynb
all_scores.pickle
api_key.txt
DanMaLeo_key.txt
eda_utils.py
explorative_data_analysis_cleaned.ipynb
LSTM_PyTorch_Wind
*.pkl
LSTM_wind
model_training.ipynb
model_training - Kopie.ipynb
openapi.json
wind_model_lstm_*
test_prep.ipynb
team_key.txt